@use "../../../../styles/constants.scss" as c;

.fieldEditor{
    // Position
    position: relative;

    // Display Properties
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    // Children
    .fieldContainer{
        // Position
        position: relative;

        // Dimensions
        width: 100%;

        // Display Properties
        display: flex;
        flex-direction: row;
        align-items: center;
    
        // Children
        .avatar{
            // Position
            position: relative;
            margin-bottom: auto;
            margin-right: max(1.5vh, 15px);

            // Dimensions
            width: max(3vh, 30px);
            height: max(3vh, 30px);
        }

        .controls{
            // Position 
            position: relative;

            // Display Properties
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            // Children
            .internal{
                // Position 
                position: relative;
                margin-right: max(1vh, 10px);

                // Display Properties
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                // Color
                background-color: inherit;
                color: c.$powderBlue1;

                // Text
                font-size: max(1.3vh, 13px);
                font-weight: normal;
                text-wrap: nowrap;

                &:hover{
                    // Text
                    text-decoration: underline;
                }
            }

            .external{
                // Position 
                position: relative;
                margin-left: max(1vh, 10px);

                // Display Properties
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                // Color
                background-color: inherit;
                color: c.$powderBlue1;

                // Text
                font-size: max(1.3vh, 13px);
                font-weight: normal;
                text-wrap: nowrap;

                &:hover{
                    // Text
                    text-decoration: underline;
                }
            }
        }

        .inputTextField{
            // Position
            position: relative;

            // Dimensions
            width: 100%;
            min-height: max(13vh, 130px);
            
            // Border
            border-radius: max(0.4vh, 4px);

            // Color
            background-color: c.$darkGray1;

            // Text
            font-size: max(1.4vh, 14px);

            // Resize
            resize: none;

            // Overflow
            overflow: visible;

            // Placeholder
            &::placeholder{
                // Color
                color: c.$lightGrayText;
            }
        }

        .disabledField{
            // Position
            position: relative;

            // Dimensions
            width: 100%;
            min-height: max(9vh, 90px);

            // Border
            border-radius: max(0.4vh, 4px);
            border: 1px solid c.$grayLine2;

            // Padding
            padding: max(1.2vh, 12px) max(0.8vh, 8px) max(1.2vh, 12px) max(0.8vh, 8px);

            // Color
            background-color: c.$darkGray2 !important;

            // Text
            font-size: max(1.4vh, 14px);

            // Resize
            resize: none;

            // Overflow
            overflow: hidden;

            // Children
            img {
                // Dimensions
                max-width: 100%;
                height: auto !important;
            }

            code{
                // Position
                line-height: max(3vh, 30px);

                // Padding
                padding: max(0.3vh, 3px) max(0.5vh, 5px);

                // Border
                border-radius: max(0.4vh, 4px);

                // Color
                background-color: c.$darkGray0;
            }

            .placeholder{
                // Position
                position: relative;

                // Color
                color: c.$darkGray9;

                // Text
                font-style: italic;
            }
        }
    }

    .buttonContainer{
        // Position
        position: relative;
        margin-top: max(1vh, 10px);

        // Dimensions
        width: 100%;
        height: max(4vh, 40px);

        // Display Properties
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        // Children
        .saveButton{
            // Position
            position: relative;
            margin-right: max(1.5vh, 15px);

            // Dimensions
            height: max(4vh, 40px);

            // Padding
            padding: 0 max(1.5vh, 15px);

            // Border
            border-radius: max(0.4vh, 4px);

            // Color
            background-color: c.$powderBlue1;

            // Text
            font-size: max(1.4vh, 14px);
            font-weight: 600;

            // Shadow
			box-shadow: 0 max(1px, 0.1vh) max(7px, 0.7vh) 0 c.$blackShadow1;

            // Hover
            &:hover{
                // Color
                background-color: c.$powderBlue2;

                // Cursor
				cursor: pointer;
            }
        }

        .cancelButton{
            // Position
            position: relative;

            // Dimensions
            height: max(4vh, 40px);

            // Padding
            padding: 0 max(1.5vh, 15px);

            // Border
            border-radius: max(0.4vh, 4px);

            // Text
            font-size: max(1.4vh, 14px);
            font-weight: 600;

            // Hover
            &:hover{
                // Color
                background-color: c.$darkGray5;
            }
        }
    }
}

// Focus
.focused{
    // Border
    border: 1px solid c.$powderBlue2 !important;
}


