@use '../../styles/constants.scss' as c;

.overlay {
    // Position
    position: fixed;
    top: 0;
    left: 0;

    // Dimensions
    width: 100vw;
    height: 100vh;

    // Display Properties
    justify-content: center;
    align-items: center;
    z-index: 200;

    // Color
    background: c.$blackOverlay;

    // Children
    .popup {
		// Position
		position: relative;
		bottom: 5%;
	
		// Dimensions
		height: max(25vh, 250px);
		width: max(40vh, 400px);
	
		// Display Properties
		display: flex;
		flex-direction: column;
	
		// Padding
		padding: 20px 0px;
	
		// Border
        border-radius: max(0.5vh, 5px);
	
		// Color
		background-color: c.$darkGray3;
		
		// Shadow
		box-shadow: 0 max(1px, 0.1vh) max(7px, 0.7vh) 0 c.$blackShadow3;
	
		// Children
		.closeButton {
			// Position
			position: absolute;
			top: max(0.5vh, 5px);
			right: max(1.2vh, 12px);

			// Dimensions
			height: max(2.5vh, 25px);
			width: max(2.5vh, 25px);

			// Border
			border: none;

			// Color
			background: transparent;
			color: c.$darkGray5;
			
			// Text
			font-size: max(2.4vh, 24px);

			// Cursor
			cursor: pointer;
		}
		
		.userBar{
			// Position
			position: relative;
			top: 25%;

			// Dimensions
			width: 100%;
			height: max(90px, 9vh);

			// Display Properties
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			// Color
			background-color: c.$darkGray5;

			// Children
			.avatar{
				// Position
				position: relative;
				left: max(15px, 1.5vh);
	
				// Dimensions
				height: 70%;

				&:hover{
					cursor: default;
				}
			}

			.accountName{
				// Position
				position: relative;
				left: max(40px, 4vh);
				margin: max(5px, 0.5vh) 0;

				// Text
				font-size: max(15px, 1.5vh);
				font-weight: bold;
			}

			.email{
				// Position
				position: relative;
				left: max(40px, 4vh);
				margin: max(5px, 0.5vh) 0;

				// Text
				font-size: max(12px, 1.2vh);
			}		
		}

		.inputContainer{
			// Position
			position: relative;
			top: 12%;

			// Dimensions
			width: 100%;

			// Display Properties
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			// Children
			.inputFieldContainer{
				// Position
				position: relative;

				// Dimensions
				width: 90%;

				// Display Properties
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			.label{
				// Position
				position: relative;
				margin-bottom: max(0.3vh, 3px);

				// Text
				font-size: max(1.4vh, 14px);
			}

			.inputField{
				// Position
				position: relative;
				margin-bottom: max(2vh, 20px);

				// Dimensions
				width: calc(100% - max(1.6vh, 16px));
				height: max(1.7vh, 17px);

				// Padding
            	padding: max(1.2vh, 12px) max(0.8vh, 8px) max(1.2vh, 12px) max(0.8vh, 8px);

				// Border
				border-radius: max(0.4vh, 4px);
				border: 1px solid c.$grayLine2;

				// Color
				background-color: c.$darkGray1 !important;

				// Text
				font-size: max(1.4vh, 14px);

				// Resize
				resize: none;

				// Overflow
				overflow: hidden;
			
				// Placeholder
				&::placeholder{
					// Color
					color: c.$darkGray9;
				}

				// Focus
				&:focus{
					// Border
					border: 1px solid c.$powderBlue2;
				}
			}
		}

		.authButton{
			// Position
			position: absolute;
			bottom: 6%;
			right: 5%;

			// Dimensions
			height: max(4vh, 40px);

			// Padding
			padding: 0 max(2vh, 20px);

			// Border
			border-radius: max(0.5vh, 5px);

			// Color
			background-color: c.$powderBlue1;

			// Text
            font-size: max(1.4vh, 14px);
            font-weight: bold;
			
			// Shadow
			box-shadow: 0 max(1px, 0.1vh) max(7px, 0.7vh) 0 c.$blackShadow1;

			// Hover
			&:hover{
				// Color
				background-color: c.$powderBlue2;

				// Cursor
				cursor: pointer;
			}

			// Disabled
			&:disabled{
				// Color
				color: c.$lightGrayText;
				background-color: c.$darkGray6;

				// Shadow
				box-shadow: none;

				// Cursor
				cursor: default;
			}

			// Disabled hover
			&:disabled:hover{
				// Color
				color: c.$lightGrayText;
				background-color: c.$darkGray6;

				// Shadow
				box-shadow: none;

				// Cursor
				cursor: default;
			}
		}	
    }
}


  
  
  
  
  