@use '../../styles/constants.scss' as c;

.myHeader{
    // Position
    position: fixed;
    top: 0px;
    z-index: 100;

    // Dimensions
    width: 100%;
    height: max(65px, 6.5vh);

    // Borders
    border: none;
    border-bottom: 1px solid c.$grayLine;

    // Shadows
    box-shadow: 0 max(1px, 0.1vh) max(7px, 0.7vh) 0 c.$blackShadow2;
    
    // Children
    .myNav{
        // Position
        position: relative;

        // Dimensions
        width: 100%;
        height: 100%;

        // Display properties
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        .link{
            // Dimensions
            width: max(6%, 110px);
            height: 75%;
            margin: 0 max(10px, 1vh);

            // Display properties
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;

            // Border
            border-radius: max(4px, 0.4vh);

            // Text
            text-decoration: none;
            font-size: max(15px, 1.5vh);

            &:hover{
                // Color
                background-color: c.$darkGray2;

                // Text
                text-decoration: none;
            }
        }

        .avatar{
            // Position
            position: relative;
            margin-left: auto;
            margin-right: max(10px, 1vh);

            // Dimensions
            height: 60%;
        }

        .dropDown{
            // Position
            position: absolute;
            top: max(65px, 6.5vh);
            right: 0;
            
            // Dimensions
            width: max(10%, 100px);
            
            // Display properties
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // Border
            border: 1px solid c.$grayLine;
            border-bottom-left-radius: max(0.4vh, 4px);

            // Shadow
            box-shadow: min(-1px, -0.15vh) max(1px, 0.1vh) max(7px, 0.7vh) 0 c.$blackShadow2;

            // Last Child
            & > :last-child{
                border-bottom-left-radius: max(0.4vh, 4px);
            }

            // Children
            .dropButton{
                // Dimensions
                width: 100%;
                height: max(60px, 6vh);

                // Display properties
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                // Text 
                text-decoration: none;

                &:hover{
                    // Color
                    background-color: c.$darkGray2;
    
                    // Text
                    text-decoration: none;

                    // Pointer
                    cursor: pointer;
                }
            }
        }
    }
}


.highlight{
    // Color
    background-color: c.$darkGrayBlue1;

    // Text
    text-decoration: none;

    // Hover
    &:hover{
        background-color: c.$darkGrayBlue2 !important;
    }
}