@use '../../styles/constants.scss' as c;

.avatarCircle{

    // Dimensions
    aspect-ratio: 1 / 1;

    // Display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Borders
    border-radius: max(0.3vh, 3px);

    // Colors
    background-color: c.$darkGray3;

    &:hover{
        cursor: pointer;
    }
}

.avatarImg{
    // Position
    position: relative;

    // Dimensions
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;

    // Display Properties
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Borders
    border-radius: max(0.3vh, 3px);

    // Colors
    background-color: c.$darkGray3;
    color: c.$darkGray3; 

    // Text
    font-size: 4px;
    text-align: center;
}

.avatarCircle:hover .avatarTooltip{
    display: flex;
}