@use "../../../styles/constants.scss" as c;

.fieldEditor{
    // Position
    position: relative;

    // Dimensions
    width: 100%;

    // Display Properties
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    // Children
    .label{
        // Position
        position: relative;
        margin-bottom: max(0.3vh, 3px);

        // Color
        color: c.$lightGrayText;

        // Text
        font-size: max(1.6vh, 16px);
        font-weight: normal;
    }

    .inputFieldWrapper{
        // Position
        position: relative;
        margin-bottom: max(1vh, 10px);

        // Dimensions
        width: 100%;

        // Display Properties
        display: flex; 
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        // Children
        .createButton{
            // Position
            position: relative;

            // Dimensions
            height: max(4vh, 40px);

            // Padding
            padding: 0 max(1.5vh, 15px);

            // Border
            border-radius: max(0.4vh, 4px);

            // Color
            background-color: c.$powderBlue1;

            // Text
            font-size: max(1.4vh, 14px);
            font-weight: 600;

            // Shadow
            box-shadow: 0 max(1px, 0.1vh) max(7px, 0.7vh) 0 c.$blackShadow1;

            // Hover
            &:hover{
                // Color
                background-color: c.$powderBlue2;
            }

            // Disabled
            &:disabled{
                // Color
                background-color: c.$darkGray5;

                // Shadow
                box-shadow: none;
            }
        }
    }
    
    .linkLabel{
        // Position
        position: relative;
        margin-bottom: max(0.3vh, 3px);

        // Color
        color: c.$lightGrayText;

        // Text
        font-size: max(1.3vh, 13px);
        font-weight: bold;
    }

    .issueLinkBoard{
        // Position
        position: relative;
        margin-bottom: max(1vh, 10px);

        // Dimensions
        width: 100%;

        // Display Properties
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        // Color
        background-color: c.$darkGray0;
        
        // Border
        border-radius: max(0.6vh, 6px);
    }
}