
// Standard colors
$background: #666666;
$containerGray: #4D4D4D;
$containerGrayHighlight: #5c5c5c;
$boxGray: #949494;
$boxGrayHighlight: #a4a4a4;
$line: #ADADAD;
$text: white;
$button: #3E7FDA;
$buttonHighlight: #2b6bc4;
