@use "../../styles/constants.scss" as c;

.overlay{
    // Position
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;

    // Dimensions
    width: 100vw;
    height: 100vh;

    // Display Properties
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Color
    background-color: c.$blackOverlay;

    // Children
    .ticketBox{
        // Position
        position: relative;

        // Dimensions
        max-width: max(120vh, 1200px);
        min-width: max(80vh, 800px);
        width: 90%;
        height: 90%;

        // Display Properties
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        // Border
        border-radius: max(0.5vh, 5px);

        // Color
        background-color: c.$darkGray2;

        // Shadow
        box-shadow: 0 max(1px, 0.1vh) max(7px, 0.7vh) 0 c.$blackShadow3;

        // Overflow
        overflow: hidden;

        // Children
        .controlBar{
            // Position
            position: relative;

            // Dimensions
            width: 100%;
            min-width: 100%;
            height: max(7vh, 70px);

            // Display Properties
            display: flex;
            flex-direction: row;
            align-items: center;

            // Border
            border-radius: max(0.5vh, 5px);
            
            // Children
            .issueKey{
                // Position
                position: absolute;
                margin-left: max(2vh, 20px);

                // Dimensions
                height: max(3vh, 30px);

                // Display properties
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                // Children
                & p{
                    // Position
                    position: relative;
                    margin-top: 0.05vh;

                    // Color
                    color: c.$lightGrayText;

                    // Text
                    font-size: max(1.3vh, 13px);
                }
            }

            .closeButton {
                // Position
                position: absolute;
                right: max(2vh, 20px);

                // Dimensions
                height: max(3vh, 30px);
                width: max(3vh, 30px);
                box-sizing: content-box;

                // Display Properties
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                // Border
                border: 1px solid c.$grayLine2;
                border-radius: max(0.4vh, 4px);

                // Color
                background: transparent;
                color: c.$darkGray3;

                // Cursor
                cursor: pointer;    

                &:hover {
                    //Color
                    background-color: c.$darkGray4;
                }
            }
        }

        .mainContent{
            // Position
            position: relative;

            // Dimensions
            min-width: 100%;
            width: 100%;
            height: calc(100% - max(7vh, 70px));

            // Display Properties
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            // Children
            .column1{
                // Position
                position: relative;
                margin-right: max(2vh, 20px);

                // Dimensions
                width: calc(60% - max(2vh, 20px));
                height: 100%;
                min-height: 100%;
                
                // Display Properties
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                // Overflow
                overflow-y: auto;

                // Children
                .primaryContent{
                    // Position
                    position: relative;

                    // Dimensions
                    width: 93%;
                    min-height: calc(100% - max(1vh, 10px));

                    // Display Properties
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex: 0 0 auto;

                    // Padding
                    padding-bottom: max(1vh, 10px);

                    // Overflow
                    overflow-x: visible;
                }
            }

            .column2{
                // Position
                position: relative;

                // Dimensions
                width: calc(40% - max(2vh, 20px));
                min-height: 100%;
                max-height: 100%;

                // Display Properties
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex: 1 1 0;

                // Overflow
                overflow-y: auto;

                // Children
                .details{
                    // Position
                    position: relative;
                    margin-bottom: max(2vh, 20px);

                    // Dimensions
                    width: 95%;
                    min-height: 20%;

                    // Display Properties
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex: 0 0 auto;

                    // Border
                    border: 1px solid rgb(120, 120, 120);
                    border-radius: max(0.4vh, 4px);

                    // Padding
                    padding-bottom: max(1vh, 10px);

                    // Overflow
                    overflow-x: visible;

                    // Children
                    .title{
                        // Position
                        position: relative;
                        margin-top: max(1vh, 10px);
                        margin-left: max(1vh, 10px);

                        // Text
                        font-size: max(1.6vh, 16px);
                    }
                }
            }
        }
    }
}


.adjustPosition{
    // Position
    margin-top: max(1vh, 10px);
    margin-left: max(1.4vh, 14px);
}

.adjustPositionPrimary{
    // Position
    margin: 0 0 max(3vh, 30px) 0 !important;

    // Dimensions
    width: 100% !important;

    // Padding
    padding-right: 0 !important;

    // Last-child
    &:last-child{
        // Position
        margin: 0 0 0 0 !important;
    }
}