@use '../../styles/constants.scss' as c;

.projectBoard{
    // Position
    position: relative;

    // Dimensions
    width: calc(100% - max(25vh, 250px));
    min-height: 100%;

    // Overflow
    overflow-x: hidden;
    overflow-y: auto;

    // Children
    .titleSection{
        // Position
        position: relative;

        // Dimensions
        width: 100%;
        height: max(9.5vh, 95px);

        // Display Properties
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        
        // Border
        border-bottom: 1px solid c.$grayLine2;

        // Heading
        h1{
            // Position
            position: relative;
            margin-left: max(4vh, 40px);
            margin-bottom: max(1.5vh, 15px);

            // Color
            color: c.$whiteText;
            background-color: transparent;

            // Text
            font-size: max(4vh, 40px);
            font-weight: bold;
        }
    }

    .ticketSection{
        // Position
        position: relative;

        // Dimensions
        width: 100%;
        min-height: calc(100% - max(9.5vh, 95px) - max(1vh, 10px));

        // Display Properties
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        // Children
        .create{
            // Position
            position: absolute;
            top: max(2vh, 20px);
            left: max(8vh, 80px);

            // Dimensions
			height: max(4vh, 40px);

			// Padding
			padding: 0 max(2vh, 20px);

            // Border
            border-radius: max(0.5vh, 5px);

            // Color
            background-color: c.$powderBlue1;
            color: c.$whiteText;

            // Text
            font-size: max(1.4vh, 14px);
            font-weight: bold;

            // Shadow
            box-shadow: 0 max(1px, 0.1vh) max(4px, 0.4vh) 0 c.$blackShadow2;

            &:hover{
                // Color
                background-color: c.$powderBlue2;

                // Cursor
                cursor: pointer;
            }

            // Disabled
            &:disabled{
                // Color
                background-color: c.$darkGray6;

                // Shadow
				box-shadow: none;

                // Cursor
                cursor: not-allowed;
            }

            // Disabled Hover
            &:disabled:hover{
                // Color
                background-color: c.$darkGray6;

                // Shadow
				box-shadow: none;

                // Cursor
                cursor: not-allowed;
            }
        }

        .boardWrapper { 
            // Position
            margin-top: max(8.6vh, 86px);
            margin-right: max(8vh, 80px);
            margin-left: max(8vh, 80px);
            margin-bottom: max(2.3vh, 23px);
            
            // Dimensions
            flex-grow: 1;
            min-height: calc(95% - max(8.6vh, 86px));

            // Display properties
            display: flex;
            flex-direction: column;

            // Border
            border-radius: max(0.6vh, 6px);
            
            // Children
            .ticketBoard{
                // Position
                position: relative;

                // Dimensions
                min-height: 72.4vh;
                min-width: max(40vh, 400px);

                // Flex properies
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                // Color
                background-color: c.$darkGray0;

                // Border
                border-radius: max(0.6vh, 6px);

                // Last child
                > :last-child{
                    margin-bottom: max(1vh, 10px);
                }
            }
        }
    }
}


.disabledTicketTile{
    // Position
    position: relative;
    margin-top: max(1vh, 10px);

    // Dimensions
    width: calc(100% - max(4vh, 40px));
    height: max(5vh, 50px);

    // Display Properties
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // Border
    border-radius: max(0.4vh, 4px);

    // Padding
    padding: max(1vh, 10px);

    // Color
    color: c.$lightGrayText;
    background-color: c.$darkGray3;

    // Shadow
    box-shadow: 0 max(1px, 0.1vh) max(5px, 0.5vh) 0 c.$blackShadow2;
}