@use "../../../styles/constants.scss" as c;

.fieldEditor{
    // Position
    position: relative;
    margin-bottom: max(1vh, 10px);

    // Dimensions
    min-height: max(3vh, 30px);
    width: calc(100% - max(1.4vh, 14px));

    // Display Properties
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    // Children
    .label{
        // Position
        position: relative;
        margin-right: max(1vh, 10px);
        margin-bottom: max(0.3vh, 3px);
        margin-bottom: max(0.3vh, 3px);
        margin-top: 0;

        // Dimensions
        flex: 1 1 20%;
        min-width: max(10vh, 100px);

        // Display Properties
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        // Padding
        padding: 0;

        // Color
        color: c.$lightGrayText;

        // Text
        font-size: max(1.6vh, 16px);
        font-weight: normal;
    }

    .fieldButton{
        // Position
        position: relative;
        margin-right: max(1vh, 10px);

        // Dimensions
        min-height: max(3vh, 30px);
        flex: 1 1 35%;
        min-width: max(16vh, 160px);

        // Display Properties
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;   
        
        // Padding
        padding: 0 max(0.8vh, 8px) 0 max(0.8vh, 8px);

        // Border
        border-radius: max(0.4vh, 4px);
        border: 1px solid c.$darkGray2;

        // Overflow
        overflow-y: visible;

        // Hover
        &:hover{
            // Color
            background-color: c.$darkGray3;
        }

        // Custom Focus
        &.focused{
            // Color
            background-color: c.$darkGray1;

            // Border
            border: 1px solid c.$powderBlue2;
        }

        // Children
        .inputField{
            // Position
            position: relative;

            // Dimensions
            width: 100%;
            height: max(4vh, 40px);

            // Display Properties
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;

            // Border
            border-radius: max(0.4vh, 4px);

            // Color
            color: c.$lightGrayText;
            
            // Text
            font-size: max(1.4vh, 14px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            // Placeholder
            &::placeholder{
                // Color
                color: c.$lightGrayText;
            }
        }

        .verticalContainer{
            // Position
            position: absolute;
            right: 0;

            // Dimensions
            height: max(4vh, 40px);

            // Display Properties
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // Custom display
            &.showControls{
                // Display properties
                display: flex;
            }
            
            // Children
            .increaseButton{
                // Position
                position: absolute;
                top: max(0.4vh, 4px);
                right: max(0.4vh, 4px);

                // Dimensions
                width: max(3vh, 30px);
                height: max(1.4vh, 14px);

                // Display Properties
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                // Border
                border-top-right-radius: max(0.3vh, 3px);
                border-top-left-radius: max(0.3vh, 3px);

                // Color
                background-color: c.$darkGray3;

                // Hover
                &:hover{
                    // Color
                    background-color: c.$darkGray4;
                }

                // Children
                & svg{
                    // Position
                    position: relative;

                    // Dimensions
                    width: max(1.4vh, 14px);
                    height: max(1.4vh, 14px);

                    // Color
                    color: c.$grayLine2;
                }
            }

            .decreaseButton{
                // Position
                position: absolute;
                bottom: max(0.4vh, 4px);
                right: max(0.4vh, 4px);

                // Dimensions
                width: max(3vh, 30px);
                height: max(1.4vh, 14px);

                // Display Properties
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                // Border
                border-bottom-right-radius: max(0.3vh, 3px);
                border-bottom-left-radius: max(0.3vh, 3px);

                // Color
                background-color: c.$darkGray3;

                // Hover
                &:hover{
                    // Color
                    background-color: c.$darkGray4;
                }

                // Children
                & svg{
                    // Position
                    position: relative;

                    // Dimensions
                    width: max(1.4vh, 14px);
                    height: max(1.4vh, 14px);

                    // Color
                    color: c.$grayLine2;
                }
            }
        }
    }
}
